.errorpage-my-color {
	width: 100%;
	height: 40rem;
	border: 1px solid #000000;
	background-image: url(../img/content/404/background.png);
    background-color: white;
	background-repeat: no-repeat; 
    background-size: cover;
}
.error-page-test{
    height: calc(100vh - 1000px);
}
.img {
    text-align: center;
    position: absolute; 
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
.btn {
    text-align: center;
    border-radius: 20px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
.btn-primary {
    color: #fff;
    background-color: #000000;
    border-color: #AD7AFD;
    font-family: "Comfortaa", cursive;
}
.btn:hover{
    background-color: #1E2E55;
    border-color: #86A5F3;
}
