.navbar-bottom-border {
  border-bottom: 1px solid white;
}
.navbar-my-color {
  background-color: var(--color-header);
}
.navbar-text-my-color a {
  color: gray;
}
.navbar-text-my-color a:hover {
  color: #cccccc;
  text-shadow: 0 0px 2px gray;
}
.navbar-text-my-color a:focus {
  color: white;
  text-decoration: underline;
}
.nav-item {
  margin-left: 10px;
  width: 100px;
}
.search-input-box {
  width: 300px;
  height: 25px;
  border-radius: 1000px;
  border: 0.1px solid white;
  background-color: #222028;
  display: flex;
}
.search-input {
  background: none;
  border: none;
  padding-left: 10px;
  border-radius: 10 00px;
  width: 300px;
  height: 25px;
  outline: none;
}
.search-button {
  margin-left: 10px;
}
.search-input-box input,
select,
textarea {
  color: white;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  background: url(/img/logos/cross.png);
  margin-right: 5px;
}
.navbar-my-toggler {
  color: gray;
  border-color: gray;
}
.navbar-my-toggler:hover {
  color: white;
  border-color: white;
}
/*Footer*/
.footer-top-border {
  border-top: 1px solid white;
}
.footer-my-color,
.footer .mb-2 {
  background-color: var(--color-header);
}
.footer .text {
  color: white;
}
.footer-white-button {
  border-radius: 1000px;
  background-color: white;
  height: 10 px;
  width: 150px;
}
.footer-white-button .text {
  color: black;
}
.footer-margin {
  height: 20px;
}
