.categories-block {
  width: 100%;
  height: auto;
  padding: 35px;
  padding-left: 100px;
  padding-right: 100px;
}
.categories-block .container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  position: relative;
}
.categories-block a {
  color: white;
  text-decoration: none;
  position: absolute;
}
.categories-block a:hover {
  color: #cccccc;
}
.categories-block img {
  position: absolute;
}
.categories-block button{
    width: 200px;
    height: 30px;
    align-content: center;
    background-color: var(--color-blue-dark);
}
.categories-block button:hover{
    background-color: var(--color-blue-base);
}
.banner-block{
    padding:0;
}
.banner-block .box{
    width: 100%;
    padding-top: 50px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:40px;
}
.banner-block .col-md-6{
    text-align: center;
}
.banner-block h2{
    color: black;
    margin-top: 100px;
}
.banner-block p{
    width: 200px;
    color: black;
}
.banner-block .row{
    background: rgb(134,165,243);
    background: linear-gradient(90deg, rgba(134,165,243,1) 0%, rgba(242,228,255,1) 80%, rgba(105,53,124,1) 100%);
}
.banner-block button{
    width: 200px;
    height: 30px;
    align-content: center;
    background-color: var(--color-blue-dark);
    margin-bottom: 100px;
}
.banner-block button:hover{
    background-color: var(--color-blue-base);
}
.banner-block a button p{
    color: white;
}
h3{
    padding-left: 100px;
}