@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Montserrat:wght@500;700;800&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  overflow-x: hidden;
}
main {
  padding: 0;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
}
.loader {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-content: center;
}
.loader img {
  position:absolute;
  top: 40%;
  transform: translateY(-50%);
  height: 20vh;
  animation:infinite logo 2s;
}
@keyframes logo{
  0%{
    transform: scale(1.2) rotate(15deg) translate(2.5em,1em);
  }
  25%{
    transform: scale(1) rotate(0deg) translate(0em,0em);
  }
  50%{
    transform: scale(1.2) rotate(-15deg) translate(-2.5em,1em);
  }
  75%{
    transform: scale(1) rotate(0deg) translate(0em,0em);
  }
  100%{
    transform: scale(1.2) rotate(15deg) translate(2.5em,1em);
  }
}
:root {
  --color-content: #1e1f25;
  --color-background: #222028;
  --color-header: #16151b;

  --color-blue-base: #3c5186;
  --color-blue-dark: #1e2e55;
  --color-blue-light: #86a5f3;

  --color-purple-base: #9b72aa;
  --color-purple-dark: #69357c;
  --color-purple-light: #ad7afd;

  --color-white: #f1f1f8;
  --color-white-dark: #fff5de;
  --color-white-light: #ffffff;
}

@supports (font-variation-settings: "wght" 800, "wght" 700, "wght" 400) {
  h1,
  h2,
  h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: white;
  }
  a,
  span,
  h4,
  h5,
  h6, 
  p {
    font-family: "Comfortaa", cursive;
    font-weight: 400;
    color: white;
    text-decoration: none;
  }
  button{
    font-family: "Comfortaa", cursive;
    font-weight: 400;
    background-color:white;
    border: none;
    border-radius:5em;
    padding:0.25em;
    padding-left:1em;
    padding-right:1em;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.icon {
  height: 2em;
  width: 2em;
}
.py {
  margin-right: 5% !important;
  margin-left: 5% !important;
}
input, textarea {
  color:white;
  font-family: "Comfortaa", cursive;
  background-color: var(--color-content);
  border: 1px solid white;
  border-radius: 1em;
  padding-left: 1em;
} 
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-content);
  -webkit-box-shadow: inset 0px 0px 50px 50px rgba(0,0,0,0.5); 
  box-shadow: inset 0px 0px 50px 50px rgba(0,0,0,0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #888; */
  border-radius:5em;
  box-shadow: inset 0 0 15px 15px #888;
  border: solid 3px transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 15px 15px #666;
  border: solid 3px transparent;
}
::-webkit-scrollbar-corner {
  background: var(--color-content);
  -webkit-box-shadow: inset 0px 0px 50px 50px rgba(0,0,0,0.5); 
  box-shadow: inset 0px 0px 50px 50px rgba(0,0,0,0.5);
}