@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Montserrat:wght@500;700;800&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-content);
  overflow-x: hidden;
}
.background-color{
  background-color: var(--color-background);
}
.non-pading {
  padding: 0;
}
.non-margin {
  margin: 0;
}
.img {
  width: 100%;
}
.main-block {
  padding: 0;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
}
:root {
  --color-content: #1e1f25;
  --color-background: #222028;
  --color-header: #16151b;

  --color-blue-base: #3c5186;
  --color-blue-dark: #1e2e55;
  --color-blue-light: #86a5f3;

  --color-purple-base: #9b72aa;
  --color-purple-dark: #69357c;
  --color-purple-light: #ad7afd;

  --color-white: #f1f1f8;
  --color-white-dark: #fff5de;
  --color-white-light: #ffffff;
}

@supports (font-variation-settings: "wght" 800, "wght" 700, "wght" 400) {
  .search-input-box input,
  select,
  textarea,
  .text {
    font-family: "Comfortaa", cursive;
    font-weight: 400;
  }
  .main_block h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: white;
  }
  .main_block a,
  span,
  p {
    font-family: "Comfortaa", cursive;
    font-weight: 400;
    color: white;
  }
}
.icon{
  height:32px;
  width:32px;
}
