.district-salons-block .dropdown-menu span{
    background-color: gray;
}
.district-salons-block .choose-district-button .col-8 span{
    color: gray;
    font-size: 0.8rem;
}
.district-salons-block .choose-district-button span{
    color: white;
}
.district-salons-block .choose-district-button .col-2 span{
    margin-bottom:1rem;
}
.district-salons-block p{
    color: white;
}
.choose-district-button{
    min-width: 15rem;
    border-radius: 20px;
    border: solid 1px white;
    background-color: #222028;
}
.dropdown-menu{
    min-width: 15rem;
    border: 1px solid white;
    background-color:#222028;
    padding:0;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: gray;
}
.nav-link {
    color:white;
    max-height: 3rem;
}
.nav-link:hover {
    color:gray;
}
.card{
    background-color: black;
    border-radius: 25px;
    border: 1px solid grey;
    min-height: 11rem;
}
.card img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 1px solid grey;
}
.carousel-control-next,
.carousel-control-prev {
  width: 2.5%;
}
.card-button{
    text-decoration: none;  
    border-radius:1000px; 
    min-width: 100%;
    min-height:1rem;
    color:black;
    background-color:var(--color-blue-light);
    padding:0.1rem;
    display:flex;
    justify-content: center;
}
.card-button span{
    color:black;
    font-size: 0.8rem;
}
.card-button:hover,
.card-button:focus{
    color:white;
    background-color:var(--color-blue-dark);
}
.card-button span:hover{
    color:white;
}
.carousel-item .row{
    margin-left: 25px;
    margin-right: 25px;
}
.card p{
    margin-bottom:0.4rem;
    font-size: 0.7rem;
}
.card h6{
    margin-bottom:0.3rem;
    font-size: 0.9rem;
}
.card-body{
    padding:0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h3{
    color: white !important;;
}